.container style="margin-top: 10px"
  h3 #{@title}/#{@lifter.name}
  .row
    .span6
      div id="graph"
  ==partial "lifters/#{@template_name}"
  javascript:
    g = new Dygraph(
          document.getElementById("graph"),
          "/lifters/csv/#{params[:id]}?equipment=#{@equipment}&type=#{@type}",
          {
              labelsDiv: document.getElementById('status'),
              labelsSeparateLines: true,
              legend: 'always',
              colors: ["rgb(51,204,204)",
                       "rgb(255,100,100)",
                       "#00DD55",
                       "rgba(50,50,200,0.4)"],
              title:  'グラフ',
              xlabel: '日付',
              ylabel: '記録',
              axisLineColor: 'white',
              drawXGrid: false
            }
        );
