.group
  ==f.label :name
  ==f.error_message_on :name
  ==f.text_field :name, :class => :text_field
  br
  span.description Ex: a simple text

.group
  ==f.label :sex
  ==f.error_message_on :sex
  ==f.text_field :sex, :class => :text_field
  br
  span.description Ex: a simple text

.group
  ==f.label :birthday
  ==f.error_message_on :birthday
  ==f.text_field :birthday, :class => :text_field
  br
  span.description Ex: a simple text


.group.navform.wat-cf
  ==f.submit pat(:save), :class => :button
  =="&nbsp;"
  ==f.submit pat(:cancel), :onclick => "window.location='#{url(:lifters, :index)}';return false", :class => :button
